<div id="wiki-content">
  <%- if @page.new_page? -%>
    <%= render :partial => 'new_page' %>
  <%- else -%>
    <%= BlueCloth.new(@page.content).to_html %>  
    
    <span class="wiki-edit-link"><%= link_to 'Edit', wiki_edit_path(@page.lang, @page.url) %></span>
    <span class="wiki-blame-link"><%= link_to 'Blame', wiki_blame_path(@page.lang, @page.url, :version => @page.version) %></span>
    <span class="wiki-versions-link"><%= link_to 'Versions', wiki_versions_path(@page.lang, @page.url) %></span>
    
  <%- end -%>
</div>
