<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title><%=h @page.title %> - Wiki Engine</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<%= javascript_include_tag 'wiki' %>
	<%= stylesheet_link_tag 'wiki' %>
</head>
<body>
  <div id="container">
    <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <%- end -%>
    
    <div id="wiki">
      <%= yield %>
    </div>
  </div>
</body>
</html>
